<header>
    <div class="container-fluid d-flex align-items-center justify-content-between">
       <h1 id="logo"><img src="/assets/images/zkfair.svg" alt=""></h1>
       <div class="controls-content">
          <nav>
             <ul class="d-flex">
                <li><a href="/home">Domains</a></li>
                <li><a href="/registrant">My Profile</a></li>
                <li class="dropdown d-none">
                   <a class="d-block w-100 h-100 dropdown-toggle" href="javascript:;"><span class="tripledot"><em></em><em> </em><em></em></span></a>
                   <ul class="dropdown-menu">
                      <li><a href="">favorites</a></li>
                      <li><a href="">star</a></li>
                      <li><a href="">blog</a></li>
                   </ul>
                </li>
             </ul>
          </nav>
          <div class="network-select dropdown">
             <a class="dropdown-toggle w-100 d-block" href="javascript:;">Zkfair Mainnet</a>
             <ul class="dropdown-menu">
                <li><span class="color-red">Select Network</span></li>
                <li><a href="">Zkfair Mainnet</a></li>
             </ul>
          </div>
       </div>
       <button class="wallet-connect"><span>Connect Wallet</span><img src="/assets/images/metamask.svg" alt=""></button><a class="mm" href="javascript:;"><span></span><span> </span><span></span></a>
    </div>
 </header>