<main>
    <header>
       <div class="container-fluid d-flex align-items-center justify-content-between">
          <h1 id="logo"><img src="/assets/images/zkfair.svg" alt=""></h1>
          <div class="controls-content">
             <nav>
                <ul class="d-flex">
                   <li><a href="/">Domains</a></li>
                   <li><a href="/register">My Profile</a></li>
                   <li class="dropdown d-none">
                      <a class="d-block w-100 h-100 dropdown-toggle" href="javascript:;"><span class="tripledot"><em></em><em> </em><em></em></span></a>
                      <ul class="dropdown-menu">
                         <li><a href="">favorites</a></li>
                         <li><a href="">star</a></li>
                         <li><a href="">blog</a></li>
                      </ul>
                   </li>
                </ul>
             </nav>
             <div class="network-select dropdown">
                <a class="dropdown-toggle w-100 d-block" href="javascript:;">Zkfair Mainnet</a>
                <ul class="dropdown-menu">
                   <li><span class="color-red">Select Network</span></li>
                   <li><a href="">Zkfair Mainnet</a></li>
                </ul>
             </div>
          </div>
          <button class="wallet-connect"><span>Connect Wallet</span><img src="/assets/images/metamask.svg" alt=""></button><a class="mm" href="javascript:;"><span></span><span> </span><span></span></a>
       </div>
    </header>
    <section>
       <div class="container-fluid">
          <div class="banner">
             <div>
                <h2>Omnichain<br>naming for wallets<br>websites on <span>Zkfair</span></h2>
             </div>
             <div><img src="/assets/images/zkfair.svg" alt=""></div>
          </div>
          <div class="search-content">
             <form action="">
                <img src="/assets/images/search-icon.svg" alt=""><input type="text" placeholder="Search your domain name">
                <select id="domain-choise" name="">
                   <option value="zkfair">.zkf</option>
                   <option value="other">.other</option>
                </select>
                <button>SEARCH</button>
             </form>
             <div class="search-result-content">
                <ul>
                   <li class="copy-container"><span class="copy-text">search result 1</span><button class="green">Avaible</button></li>
                   <li class="copy-container"><span class="copy-text">search result 2</span><button class="red" disabled="disabled">Not Avaible</button></li>
                   <li class="copy-container"><span class="copy-text">search result 3</span><button class="green">Avaible</button></li>
                </ul>
             </div>
          </div>
       </div>
    </section>
 </main>
 <footer>
    <div class="container-fluid d-flex justify-content-between align-items-center">
       <div class="footNav">
          <ul class="d-flex">
             <li><a href="">Terms</a></li>
             <li><a href="">Privacy</a></li>
             <li><a href="">Zkfair.io</a></li>
          </ul>
       </div>
       <div class="socialMedia">
          <ul>
             <li><a href=""><img src="/assets/images/twitter.svg" alt=""></a></li>
          </ul>
       </div>
    </div>
 </footer>