<div class="search-content">
    <form action="">
       <img src="/assets/images/search-icon.svg" alt=""><input type="text" placeholder="Search your domain name">
       <select id="domain-choise" name="">
          <option value="zkfair">.zkf</option>
          <option value="other">.other</option>
       </select>
       <button>SEARCH</button>
    </form>
    <div class="search-result-content">
       <ul>
          <li class="copy-container"><span class="copy-text">search result 1</span><button class="green">Avaible</button></li>
          <li class="copy-container"><span class="copy-text">search result 2</span><button class="red" disabled="disabled">Not Avaible</button></li>
          <li class="copy-container"><span class="copy-text">search result 3</span><button class="green">Avaible</button></li>
       </ul>
    </div>
 </div>